<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="description" content="Albuquerque ARTCC is one of the 22 regional ARTCCs in the US and provides virtual ATC services on the VATSIM network.">
		<link rel="icon" href="<%= BASE_URL %>favicon.ico">
		<title>Albuquerque ARTCC</title>
	</head>
	<body style="overflow-y: scroll;">
    	<noscript>
			<strong>We're sorry but the Albuquerque ARTCC website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    	</noscript>
		<div id="app"></div>
		<div id="ie_warn" style="font-size: 24px; font-weight: 700;"></div>
    	<!-- built files will be auto injected -->
	</body>
</html>

<script>
	var ieWarn = document.querySelector('#ie_warn')
	if(navigator.userAgent.indexOf('MSIE')!==-1 || navigator.appVersion.indexOf('Trident/') > -1){
		ieWarn.innerHTML = 'Internet Explorer is not supported by this site. Please use Chrome, Edge, Firefox or Safari.';
	} else {
		ieWarn.parentElement.removeChild(ieWarn)
	}
</script>