<template>
	<div class="card home_intro">
		<div class="card-content">
			<span class="card-title">Instructor Dashboard</span>
			<p>
				Howdy there, instructor.
			</p>
		</div>
	</div>
</template>
<script>
export default {
	name: 'InsDash',
	title: 'Instructor Dashboard',
	data() {
		return {

		};
	}
};
</script>